body {
	margin: 0;
	font-size: 100%;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

header {
	background-color: rgb(244,247,248);
	font-size: 200%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: "Lucida Bright", Georgia, serif;;
}

span.myname {
	margin-left: 2em;
}

div.page {
	width: 20em;
	margin: auto;
}

a:link {
	color: #0080FF;
}

a:visited {
	color: #004080;
}
