body {
	margin: 0;
	font-size: 13pt;/*100%;*/
	font-family: "Avenir", "Helvetica Neue", "Helvetica", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
}

header {
	background-color: rgb(244,247,248);
	font-size: 200%;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	font-family: "Athelas", "Lucida Bright", Georgia, serif;
}

span.myname {
	margin-left: 1em;
}

div.page {
	width: 40em;
	margin: auto;
}

a:link {
	color: #000;
}

a:visited {
	color: #000;
}

h1 {
	font-size: 125%;
	padding-top: 1em;
}

dt {
	overflow: hidden;
    float: left;
    margin: 0 .2em;
}

dt:after {
	content: ' is ';
}

dd {
    word-wrap: break-word;
	overflow: hidden;
}

dd:after {
	content: '.';
}
